

<!-- add categori button --->
<div class="add">
    <button (click)="openWindow(contentTemplate)" nbButton>+ Add Product</button>
</div>

<!-- end add categori button --->


<!-- categori add form (window) --->

<ng-template #contentTemplate let-data>
    <nb-card>
        <nb-card-body>
          <form [formGroup]="angForm" (ngSubmit)="addProducrs()">
            <div class="form-group">
              <input formControlName="name" required type="text" nbInput fullWidth placeholder="Name">
            </div>
            <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].touched)" class="alert alert-danger">
              الا سم مطلوب
            </div>

            <div class="form-group">
              <input formControlName="price" type="text" nbInput fullWidth placeholder="price" >
            </div>
            <div *ngIf="angForm.controls['price'].invalid && (angForm.controls['price'].touched)" class="alert alert-danger">
              الايميل مطلوب
            </div>


            <div class="form-group">
              <input formControlName="title" type="text" nbInput fullWidth placeholder="Title" >
            </div>
            <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].touched)" class="alert alert-danger">
            </div>


            <div class="form-group">
              <input formControlName="made_in"  type="test" nbInput fullWidth placeholder="Made in" >
            </div>
            <div *ngIf="angForm.controls['made_in'].invalid && (angForm.controls['made_in'].touched)" class="alert alert-danger">
              الا سم مطلوب
            </div>

            <div class="form-group">
              <input formControlName="status" type="test" nbInput fullWidth placeholder="status">
            </div>
            <div *ngIf="angForm.controls['cat_id'].invalid && (angForm.controls['cat_id'].touched)" class="alert alert-danger">
              الا سم مطلوب
            </div>

            <div class="form-group">
              <input formControlName="discount" type="test" nbInput fullWidth placeholder="discount">
            </div>
            <div *ngIf="angForm.controls['discount'].invalid && (angForm.controls['discount'].touched)" class="alert alert-danger">
              الا سم مطلوب
            </div>

            <div class="form-group">
              <input formControlName="not" type="test" nbInput fullWidth placeholder="Not">
            </div>

            <div class="form-group">
              <nb-select formControlName="parent_id" fullWidth selected="0">
                <nb-option value="0">NO Parent</nb-option>
                <nb-option     *ngFor="let cat of cats" value="{{ cat.id }}:{{ cat.name }}">{{ cat.name }}</nb-option>
              </nb-select>
            </div> 

            <div class="form-group">
              <input  type="file" nbInput fullWidth #fileupload  (change)="fileEvent($event)" placeholder="Subject">
            </div>
            <div class="form-group">
              <nb-checkbox status="danger">User group</nb-checkbox>
            </div>
            <button [disabled]="!angForm.valid" type="submit" nbButton status="success">Save</button>
          </form>
        </nb-card-body>
      </nb-card>
</ng-template>
  <nb-card>
    <nb-card-header>
      Smart Table
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm) = "onEditeConfirm($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>


